body{
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
    color: black;
    background-color: white;
   
}
*{box-sizing: border-box;}
.container{
    background-color: rgb(194, 193, 193);
    padding: 50px;
    position: relative;
    top: 85px;
    width: 100%;
    border-radius: 5px;
    
}


.container_input{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
   
}
.name{
    width: 250px;
    margin-top: 10px;
}
.icon{
    padding: 10px;
    background-color: gainsboro;
}
.input_field{
    width: 100%;
}

.submit{
    width: 150px;
    height: 40px;
    background-color: orange;
    margin-top: 20px;
    margin-left: 200px;
    text-align: center;
    font-size: larger;
    border: 1px none;
}